## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [ ]:
import pandas as pd

Load the Automobile dataset into variable "auto"

In [ ]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
print(auto.head())

**Check the head of the DataFrame.**

In [ ]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
print(auto.head())

**How many rows and columns are there?**

In [10]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
rows= auto.shape[0]
print(rows)

201

In [11]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
columns = auto.shape[1]
print( columns)

26

**What is the average Price of all cars in the dataset?**

In [16]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
avg=auto['price'].mean()
print(avg)

13207.129353233831

Which is the cheapest make and costliest make of car in the lot?

In [19]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
car = auto.loc[auto['price'].idxmin()]
car['make']

'subaru'

In [18]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
car = auto.loc[auto['price'].idxmax()]
car['make']

'mercedes-benz'

How many cars have horsepower greater than 100?

In [27]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
car = (auto['horsepower']>100).sum()
print(car)

90

**How many hatchback cars are in the dataset ?**

In [30]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
car = (auto['body_style']=='hatchback' ).sum()
print(car)

68

**What are the 3 most commonly found cars in the dataset?**

In [32]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
most = auto['make'].value_counts().head(3)
print(most)

make
toyota    32
nissan    18
mazda     17
Name: count, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [39]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
car = auto[auto['price']==7099]
car['make']

87    nissan
Name: make, dtype: object

Which cars are priced greater than 40000?

In [40]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
car = auto[auto['price']>40000]
car

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
15,0,149,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
70,0,140,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
71,1,140,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400

Which are the cars that are both a sedan and priced less than 7000?

In [45]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
car = auto[(auto['price']>40000) & (auto['body_style']=='sedan')]
car

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
15,0,149,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
70,0,140,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960

 **Count the number of unique values in the `fuel_type` column.**

In [53]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
most = auto['fuel_type'].nunique()
print(most)

2

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [59]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
car = auto[(auto['horsepower']>100) & (auto['horsepower']<200)]
print(car[['make','horsepower','price']])

            make  horsepower  price
0    alfa-romero         111  13495
1    alfa-romero         111  16500
2    alfa-romero         154  16500
3           audi         102  13950
4           audi         115  17450
..           ...         ...    ...
196        volvo         114  16845
197        volvo         160  19045
198        volvo         134  21485
199        volvo         106  22470
200        volvo         114  22625

[85 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

In [66]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
avg=auto.groupby('body_style')[['city_mpg','highway_mpg']].mean()
print(avg)

              city_mpg  highway_mpg
body_style
convertible  20.500000    26.000000
hardtop      21.625000    27.250000
hatchback    26.602941    32.382353
sedan        25.053191    30.574468
wagon        24.040000    28.720000

**What is the median `price` for each `make`?**

In [68]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
avg=auto.groupby('make')['price'].median()
print(avg)

make
alfa-romero      16500.0
audi             17580.0
bmw              22835.0
chevrolet         6295.0
dodge             7609.0
honda             7295.0
isuzu             8916.5
jaguar           35550.0
mazda            10595.0
mercedes-benz    32892.0
mercury          16503.0
mitsubishi        8499.0
nissan            8124.0
peugot           16630.0
plymouth          7609.0
porsche          33278.0
renault           9595.0
saab             15275.0
subaru            7894.0
toyota            9103.0
volkswagen        9737.5
volvo            18420.0
Name: price, dtype: float64

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

In [69]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
car = auto[(auto['wheel_base']>100) & (auto['curb_weight']<2500)]
print(car)

     symboling  normalized_losses    make fuel_type aspiration  \
9            2                192     bmw       gas        std
10           0                192     bmw       gas        std
169         -1                 65  toyota       gas        std
170         -1                 65  toyota    diesel      turbo
171         -1                 65  toyota       gas        std
172         -1                 65  toyota       gas        std
173         -1                 65  toyota       gas        std

    number_of_doors body_style drive_wheels engine_location  wheel_base  ...  \
9               two      sedan          rwd           front       101.2  ...
10             four      sedan          rwd           front       101.2  ...
169            four      sedan          fwd           front       102.4  ...
170            four      sedan          fwd           front       102.4  ...
171            four  hatchback          fwd           front       102.4  ...
172            four      sedan          fwd           front       102.4  ...
173            four  hatchback          fwd           front       102.4  ...

     engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
9            108         mpfi  3.50    2.80               8.8        101
10           108         mpfi  3.50    2.80               8.8        101
169          122         mpfi  3.31    3.54               8.7         92
170          110          idi  3.27    3.35              22.5         73
171          122         mpfi  3.31    3.54               8.7         92
172          122         mpfi  3.31    3.54               8.7         92
173          122         mpfi  3.31    3.54               8.7         92

     peak_rpm city_mpg  highway_mpg  price
9        5800       23           29  16430
10       5800       23           29  16925
169      4200       29           34   8948
170      4500       30           33  10698
171      4200       27           32   9988
172      4200       27           32  10898
173      4200       27           32  11248

[7 rows x 26 columns]

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

In [76]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
auto['price_per_hp'] = auto['price'] / auto['horsepower']
print(auto.head())

   symboling  normalized_losses         make fuel_type aspiration  \
0          3                168  alfa-romero       gas        std
1          3                168  alfa-romero       gas        std
2          1                168  alfa-romero       gas        std
3          2                164         audi       gas        std
4          2                164         audi       gas        std

  number_of_doors   body_style drive_wheels engine_location  wheel_base  ...  \
0             two  convertible          rwd           front        88.6  ...
1             two  convertible          rwd           front        88.6  ...
2             two    hatchback          rwd           front        94.5  ...
3            four        sedan          fwd           front        99.8  ...
4            four        sedan          4wd           front        99.4  ...

   fuel_system  bore  stroke  compression_ratio horsepower peak_rpm  city_mpg  \
0         mpfi  3.47    2.68                9.0        111     5000        21
1         mpfi  3.47    2.68                9.0        111     5000        21
2         mpfi  2.68    3.47                9.0        154     5000        19
3         mpfi  3.19    3.40               10.0        102     5500        24
4         mpfi  3.19    3.40                8.0        115     5500        18

  highway_mpg  price  price_per_hp
0          27  13495    121.576577
1          27  16500    148.648649
2          26  16500    107.142857
3          30  13950    136.764706
4          22  17450    151.739130

[5 rows x 27 columns]

**Count how many cars have a `number_of_doors` as `four`.**

In [75]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
most = auto[auto['number_of_doors']=='four'].shape[0]
print(most)

114

**Find the top 5 cars based on their `highway_mpg` and `price`.**

In [74]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
top = auto.sort_values(by=['highway_mpg', 'price'], ascending=[False, False]).head(5)
print(top)

     symboling  normalized_losses       make fuel_type aspiration  \
29           2                137      honda       gas        std
17           2                121  chevrolet       gas        std
87           1                128     nissan    diesel        std
155          0                 91     toyota    diesel        std
156          0                 91     toyota       gas        std

    number_of_doors body_style drive_wheels engine_location  wheel_base  ...  \
29              two  hatchback          fwd           front        86.6  ...
17              two  hatchback          fwd           front        88.4  ...
87              two      sedan          fwd           front        94.5  ...
155            four  hatchback          fwd           front        95.7  ...
156            four      sedan          fwd           front        95.7  ...

     engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
29            92         1bbl  2.91    3.41               9.6         58
17            61         2bbl  2.91    3.03               9.5         48
87           103          idi  2.99    3.47              21.9         55
155          110          idi  3.27    3.35              22.5         56
156           98         2bbl  3.19    3.03               9.0         70

     peak_rpm city_mpg  highway_mpg  price
29       4800       49           54   6479
17       5100       47           53   5151
87       4800       45           50   7099
155      4500       38           47   7788
156      4800       38           47   7738

[5 rows x 26 columns]

**How many cars have missing values in the `normalized_losses` column?**

In [78]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
missing_values_count = auto['normalized_losses'].isna().sum()
print(missing_values_count)

0

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

In [ ]:
import pandas as pd
auto = pd.read_csv("Automobile.csv")
auto['car_age'] =2025 - auto['year_of_manufacture']
print(auto.head())

### The END